PORT=4000
CLIENT_URL=3000
NODE_ENV=development
MONGO_DB_URL=mongodb://127.0.0.1:27017/meta-tronix

JWT_ACCESS_SECRET=super-long-random-string-for-access
JWT_REFRESH_SECRET=another-super-long-random-string-for-refresh

JWT_ISSUER=meta-tronix
JWT_AUDIENCE=meta-tronix-api 

ADMIN_NAME=Super Admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=123456